<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>iot-edge-raspberry-pi</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Page specific CSS -->
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body class="text-center">
    <h1>iot-edge-raspberry-pi</h1>
    <div class="container">
        <div class="row">
            <!-- Pi 3B+ GPIO -->
            <div class="col alert-success" style="min-width: 280px">
                <div class="row mt-4 mb-4 text-center">
                    <h2 style="margin: 0 auto 0 auto; width: 100%;">Pi 3B+ GPIO</h2>
                    <p style="margin: 1rem auto 0 auto; width: 100%;">Get a Raspberry Pi 3B+ for ~$30 at <a href="//www.microcenter.com/product/505661/raspberry-pi-3-model-b">MicroCenter</a>.</p>
                    <p style="margin: 0 auto 0 auto; width: 100%;">Get a case and power supply for ~$13 at <a href="//www.amazon.com/gp/product/B01I1OESI6/">Amazon</a>.</p>
                    <img src="/static/img/raspberry.png" style="margin: 0 auto 0 auto;" />
                </div>
                <!-- Raspberry Pi B+ GPIO -->
                <div class="circleContainer">
                    <div>3.3vDC</div>
                    <div class="numberCircle">1</div>
                    <div class="numberCircle">2</div>
                    <div>5.0vDC</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO02</div>
                    <div class="numberCircle">3</div>
                    <div class="numberCircle">4</div>
                    <div>5.0vDC</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO03</div>
                    <div class="numberCircle">5</div>
                    <div class="numberCircle">6</div>
                    <div>Ground</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO04</div>
                    <div class="numberCircle">7</div>
                    <div class="numberCircle">8</div>
                    <div>GPIO14</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>Ground</div>
                    <div class="numberCircle">9</div>
                    <div class="numberCircle">10</div>
                    <div>GPIO15</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO17</div>
                    <div class="numberCircle">11</div>
                    <div class="numberCircle">12</div>
                    <div>GPIO18</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO27</div>
                    <div class="numberCircle">13</div>
                    <div class="numberCircle">14</div>
                    <div>Ground</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO22</div>
                    <div class="numberCircle">15</div>
                    <div class="numberCircle">16</div>
                    <div>GPIO23</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>3.3vDC</div>
                    <div class="numberCircle">17</div>
                    <div class="numberCircle" style="border-color: blue;">18</div>
                    <div>GPIO24</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO10</div>
                    <div class="numberCircle" style="border-color: blue;">19</div>
                    <div class="numberCircle">20</div>
                    <div>Ground</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO09</div>
                    <div class="numberCircle" style="border-color: brown;">21</div>
                    <div class="numberCircle" style="border-color: brown;">22</div>
                    <div>GPIO25</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div>GPIO11</div>
                    <div class="numberCircle" style="border-color: gray;">23</div>
                    <div class="numberCircle" style="border-color: gray;">24</div>
                    <div>GPIO08</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>Ground</div>
                    <div class="numberCircle">25</div>
                    <div class="numberCircle" style="border-color: green;">26</div>
                    <div>GPIO07</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>ID__SD</div>
                    <div class="numberCircle">27</div>
                    <div class="numberCircle">28</div>
                    <div>ID__SC</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>GPIO05</div>
                    <div class="numberCircle" style="border-color: green;">29</div>
                    <div class="numberCircle">30</div>
                    <div>Ground</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>GPIO06</div>
                    <div class="numberCircle" style="border-color: orange;">31</div>
                    <div class="numberCircle" style="border-color: orange;">32</div>
                    <div>GPIO12</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>GPIO13</div>
                    <div class="numberCircle" style="border-color: purple;">33</div>
                    <div class="numberCircle">34</div>
                    <div>Ground</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>GPIO19</div>
                    <div class="numberCircle" style="border-color: white;">35</div>
                    <div class="numberCircle" style="border-color: purple;">36</div>
                    <div>GPIO16</div>
                </div>
                </br>
				<div class="circleContainer">
                    <div>GPIO26</div>
                    <div class="numberCircle" style="border-color: yellow;">37</div>
                    <div class="numberCircle" style="border-color: white;">38</div>
                    <div>GPIO20</div>
                </div>
                </br>
				<div class="circleContainer pb-3">
                    <div>Ground</div>
                    <div class="numberCircle" style="border-color: black;">39</div>
                    <div class="numberCircle" style="border-color: yellow;">40</div>
                    <div>GPIO21</div>
                </div>
            </div>
            <!-- Transistor -->
            <div class="col alert-info text-center" style="min-width: 280px">
                <div class="row mt-4 mb-4 text-center">
                    <h2 style="margin: 0 auto 0 auto; width: 100%;">Transistor Array</h2>
                    <p style="margin: 1rem auto 0 auto; width: 100%;">Get a ULN2803A transistor for ~$2 at <a href="//www.amazon.com/dp/B077CYNBM8">Amazon</a>.</p>
                    <p style="margin: 0 auto 0 auto; width: 100%;">Get jumper wires for ~$6 at <a href="//www.amazon.com/dp/product/B07GD2BWPY">Amazon</a>.</p>
                    <img src="/static/img/transistor.png" style="margin: 0 auto 0 auto;" />
                </div>
                <!-- Transistor #1 -->
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: blue;" data-gpio="10">19</div>
                    <div class="numberBox">1B</div>
                    <div class="numberBox">1C</div>
                    <div class="numberCircle" style="border-color: blue;" data-gpio="10">19</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: brown;" data-gpio="9">21</div>
                    <div class="numberBox">2B</div>
                    <div class="numberBox">2C</div>
                    <div class="numberCircle" style="border-color: brown;" data-gpio="9">21</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: gray;" data-gpio="11">23</div>
                    <div class="numberBox">3B</div>
                    <div class="numberBox">3C</div>
                    <div class="numberCircle" style="border-color: gray;" data-gpio="11">23</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: green;" data-gpio="5">29</div>
                    <div class="numberBox">4B</div>
                    <div class="numberBox">4C</div>
                    <div class="numberCircle" style="border-color: green;" data-gpio="5">29</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: orange;" data-gpio="6">31</div>
                    <div class="numberBox">5B</div>
                    <div class="numberBox">5C</div>
                    <div class="numberCircle" style="border-color: orange;" data-gpio="6">31</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: purple;" data-gpio="13">33</div>
                    <div class="numberBox">6B</div>
                    <div class="numberBox">6C</div>
                    <div class="numberCircle" style="border-color: purple;" data-gpio="13">33</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: white;" data-gpio="19">35</div>
                    <div class="numberBox">7B</div>
                    <div class="numberBox">7C</div>
                    <div class="numberCircle" style="border-color: white;" data-gpio="19">35</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: yellow;" data-gpio="26">37</div>
                    <div class="numberBox">8B</div>
                    <div class="numberBox">8C</div>
                    <div class="numberCircle" style="border-color: yellow;" data-gpio="26">37</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: black;" data-gpio="none">GN</div>
                    <div class="numberBox">GN</div>
                    <div class="numberBox">CO</div>
                    <div class="numberCircle" style="border-color: red;" data-gpio="none">5v</div>
                </div>
                </br>
                <!-- Transistor #2 -->
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: blue;" data-gpio="24">18</div>
                    <div class="numberBox">1B</div>
                    <div class="numberBox">1C</div>
                    <div class="numberCircle" style="border-color: blue;" data-gpio="24">18</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: brown;" data-gpio="25">22</div>
                    <div class="numberBox">2B</div>
                    <div class="numberBox">2C</div>
                    <div class="numberCircle" style="border-color: brown;" data-gpio="25">22</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: gray;" data-gpio="8">24</div>
                    <div class="numberBox">3B</div>
                    <div class="numberBox">3C</div>
                    <div class="numberCircle" style="border-color: gray;" data-gpio="8">24</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: green;" data-gpio="7">26</div>
                    <div class="numberBox">4B</div>
                    <div class="numberBox">4C</div>
                    <div class="numberCircle" style="border-color: green;" data-gpio="7">26</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: orange;" data-gpio="12">32</div>
                    <div class="numberBox">5B</div>
                    <div class="numberBox">5C</div>
                    <div class="numberCircle" style="border-color: orange;" data-gpio="12">32</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: purple;" data-gpio="16">36</div>
                    <div class="numberBox">6B</div>
                    <div class="numberBox">6C</div>
                    <div class="numberCircle" style="border-color: purple;" data-gpio="16">36</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: white;" data-gpio="20">38</div>
                    <div class="numberBox">7B</div>
                    <div class="numberBox">7C</div>
                    <div class="numberCircle" style="border-color: white;" data-gpio="20">38</div>
                </div>
                </br>
                <div class="circleContainer">
                    <div class="numberCircle" style="border-color: yellow;" data-gpio="21">40</div>
                    <div class="numberBox">8B</div>
                    <div class="numberBox">8C</div>
                    <div class="numberCircle" style="border-color: yellow;" data-gpio="21">40</div>
                </div>
                </br>
                <div class="circleContainer pb-3">
                    <div class="numberCircle" style="border-color: black;" data-gpio="none">GN</div>
                    <div class="numberBox">GN</div>
                    <div class="numberBox">CO</div>
                    <div class="numberCircle" style="border-color: red;" data-gpio="none">5v</div>
                </div>
            </div>
            <!-- 16-Channel Relay -->
            <div class="col alert-primary" style="min-width: 280px">
                <div class="row mt-4 mb-4 text-center">
                    <h2 style="margin: 0 auto 0 auto; width: 100%;">16-Channel Relay</h2>
                    <p style="margin: 1rem auto 0 auto; width: 100%;">Get a SainSmart relay for ~$15 at <a href="//www.amazon.com/dp/B0057OC66U/">Amazon</a>.</p>
                    <p style="margin: 0 auto 0 auto; width: 100%;">Get a power supply for ~$9 at <a href="//www.amazon.com/dp/product/B06Y64QLBM">Amazon</a>.</p>
                    <img src="/static/img/sainsmart.png" style="margin: 0 auto 0 auto;" />
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn10" onclick="TogglePin(10);" role="button" style="float: left; margin: 0 auto 0 auto;">01</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn21"  onclick="TogglePin(21);"  role="button" style="float: right; margin: 0 auto 0 auto;">16</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn9" onclick="TogglePin(9);" role="button" style="float: left; margin: 0 auto 0 auto;">02</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn20"  onclick="TogglePin(20);"  role="button" style="float: right; margin: 0 auto 0 auto;">15</button>
               </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn11"  onclick="TogglePin(11);"  role="button" style="float: left; margin: 0 auto 0 auto;">03</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn16" onclick="TogglePin(16);" role="button" style="float: right; margin: 0 auto 0 auto;">14</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn5" onclick="TogglePin(5);" role="button" style="float: left; margin: 0 auto 0 auto;">04</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn12" onclick="TogglePin(12);" role="button" style="float: right; margin: 0 auto 0 auto;">13</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn6" onclick="TogglePin(6);" role="button" style="float: left; margin: 0 auto 0 auto;">05</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn7" onclick="TogglePin(7);" role="button" style="float: right; margin: 0 auto 0 auto;">12</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn13"  onclick="TogglePin(13);"  role="button" style="float: left; margin: 0 auto 0 auto;">06</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn8"  onclick="TogglePin(8);"  role="button" style="float: right; margin: 0 auto 0 auto;">11</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn19" onclick="TogglePin(19);" role="button" style="float: left; margin: 0 auto 0 auto;">07</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn25" onclick="TogglePin(25);" role="button" style="float: right; margin: 0 auto 0 auto;">10</button>
                </div>
                <div class="row">
                    <button class="btn btn-secondary mb-1" disabled id="btn26" onclick="TogglePin(26);" role="button" style="float: left; margin: 0 auto 0 auto;">08</button>
                    <button class="btn btn-secondary mb-1" disabled id="btn24" onclick="TogglePin(24);" role="button" style="float: right; margin: 0 auto 0 auto;">09</button>
                </div>
                <!-- Relay Pinout -->
                <div class="row mt-3">
                    <div class="col">
                        <div class="row circleContainer pb-3">
                            <div>
                                <div class="numberCircle" style="border-color: red;" data-gpio="none">5v</div>
                                <div class="numberBox">5v</div>
                                <div class="numberBox">5v</div>
                                <div class="numberCircle" style="border-color: red;" data-gpio="none">5v</div>
                            </div>
                            <div>
                                <div class="numberCircle"  style="border-color: brown;" data-gpio="9">21</div>
                                <div class="numberBox">2</div>
                                <div class="numberBox">1</div>
                                <div class="numberCircle" style="border-color: blue;" data-gpio="10">19</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: green;" data-gpio="5">29</div>
                                <div class="numberBox">4</div>
                                <div class="numberBox">3</div>
                                <div class="numberCircle" style="border-color: gray;" data-gpio="11">23</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: purple;" data-gpio="13">33</div>
                                <div class="numberBox">6</div>
                                <div class="numberBox">5</div>
                                <div class="numberCircle" style="border-color: orange;" data-gpio="6">31</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: yellow;" data-gpio="26">37</div>
                                <div class="numberBox">8</div>
                                <div class="numberBox">7</div>
                                <div class="numberCircle" style="border-color: white;" data-gpio="19">35</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: brown;" data-gpio=25">22</div>
                                <div class="numberBox">10</div>
                                <div class="numberBox">9</div>
                                <div class="numberCircle" style="border-color: blue;" data-gpio="24">18</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: green;" data-gpio="7">26</div>
                                <div class="numberBox">12</div>
                                <div class="numberBox">11</div>
                                <div class="numberCircle" style="border-color: gray;" data-gpio="8">24</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: purple;" data-gpio="16">36</div>
                                <div class="numberBox">14</div>
                                <div class="numberBox">13</div>
                                <div class="numberCircle" style="border-color: orange;" data-gpio="12">32</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: yellow;" data-gpio="21">40</div>
                                <div class="numberBox">16</div>
                                <div class="numberBox">15</div>
                                <div class="numberCircle" style="border-color: white;" data-gpio="20">38</div>
                            </div>
                            <div>
                                <div class="numberCircle" style="border-color: black;" data-gpio="none">GN</div>
                                <div class="numberBox">GN</div>
                                <div class="numberBox">GN</div>
                                <div class="numberCircle" style="border-color: black;" data-gpio="none">GN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© <script>document.write(new Date().getFullYear())</script></p>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/tooltip.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Page specific JavaScript -->
    <script src="/static/js/index.js"></script>
</body>
</html>
