<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Raspberry Pi 3/B+ GPIO</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Page specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}" />
</head>

<body class="text-center">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Raspberry Pi 3/B+ GPIO</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/relay">Relay</a>
                </nav>
            </div>
        </header>
        <main role="main" class="main">
            <h2 style="margin-bottom: 2.5rem;">Raspberry Pi Pinout</h2>
            <div class="row justify-content-center">
                <div><span class="text-rotate pin-label white"></span></div>
                <div><span class="text-rotate pin-label btn-danger">5.0vDC</span></div>
                <div><span class="text-rotate pin-label btn-danger">5.0vDC</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-dark">GPIO14</span></div>
                <div><span class="text-rotate pin-label btn-dark">GPIO15</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO18</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO23</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO24</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO25</span></div>
                <div><span class="text-rotate pin-label btn-primary">GPIO08</span></div>
                <div><span class="text-rotate pin-label btn-primary">GPIO07</span></div>
                <div><span class="text-rotate pin-label btn-warning">ID_SC</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO12</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO16</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO20</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO21</span></div>
                <div><span class="text-rotate pin-label white"></span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate pin-number white top right"></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">02</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">04</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">06</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">08</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">10</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">12</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">14</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">16</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">18</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">20</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">22</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">24</span></span></div>
                <div><span class="text-rotate pin-number white bottom right"><span class="numberCircle">26</span></span>
                </div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">28</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">30</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">32</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">34</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">36</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">38</span></span></div>
                <div><span class="text-rotate pin-number white right"><span class="numberCircle">40</span></span></div>
                <div><span class="text-rotate pin-number white bottom right"></span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate pin-number white top left" style="padding-left: .875rem;">B/B+</span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">01</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">03</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">05</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">07</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">09</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">11</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">13</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">15</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">17</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">19</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">21</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">23</span></span></div>
                <div><span class="text-rotate pin-number white bottom left"><span class="numberCircle">25</span></span>
                </div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">27</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">29</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">31</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">33</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">35</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">37</span></span></div>
                <div><span class="text-rotate pin-number white left"><span class="numberCircle">39</span></span></div>
                <div><span class="text-rotate pin-number white bottom left" style="padding-left: 1.25rem;">B+</span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate pin-label white"></span></div>
                <div><span class="text-rotate pin-label btn-danger">3.3vDC</span></div>
                <div><span class="text-rotate pin-label btn-info">GPIO02</span></div>
                <div><span class="text-rotate pin-label btn-info">GPIO03</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO04</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO17</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO27</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO22</span></div>
                <div><span class="text-rotate pin-label btn-danger">3.3vDC</span></div>
                <div><span class="text-rotate pin-label btn-primary">GPIO10</span></div>
                <div><span class="text-rotate pin-label btn-primary">GPIO09</span></div>
                <div><span class="text-rotate pin-label btn-primary">GPIO11</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label btn-warning">ID_SD</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO05</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO06</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO13</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO19</span></div>
                <div><span class="text-rotate pin-label btn-success">GPIO26</span></div>
                <div><span class="text-rotate pin-label gray">Ground</span></div>
                <div><span class="text-rotate pin-label white"></span></div>
            </div>
            <h2>Toggle Pin Buttons</h2>
            <div class="row">
                <div class="btn-group" role="group" style="margin: 0 auto 0 auto;">
                    <button type="button" class="btn btn-danger" disabled>02</button>
                    <button type="button" class="btn btn-danger" disabled>04</button>
                    <button type="button" class="btn btn-light" disabled>06</button>
                    <button type="button" class="btn btn-dark" onclick="TogglePin(08);">08</button>
                    <button type="button" class="btn btn-dark" onclick="TogglePin(10);">10</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(12);">12</button>
                    <button type="button" class="btn btn-light" disabled>14</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(16);">16</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(18);">18</button>
                    <button type="button" class="btn btn-light" disabled>20</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(22);">22</button>
                    <button type="button" class="btn btn-primary" onclick="TogglePin(24);">24</button>
                    <button type="button" class="btn btn-primary" onclick="TogglePin(26);">26</button>
                    <button type="button" class="btn btn-warning" onclick="TogglePin(30);">28</button>
                    <button type="button" class="btn btn-light" disabled>30</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(32);">32</button>
                    <button type="button" class="btn btn-light" disabled>34</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(36);">36</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(38);">38</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(40);">40</button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" style="margin: 0 auto 0 auto;">
                    <button type="button" class="btn btn-danger" disabled>01</button>
                    <button type="button" class="btn btn-info" onclick="TogglePin(02);">03</button>
                    <button type="button" class="btn btn-info" onclick="TogglePin(02);">05</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">07</button>
                    <button type="button" class="btn btn-light" disabled>09</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">11</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">13</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">15</button>
                    <button type="button" class="btn btn-danger" disabled>17</button>
                    <button type="button" class="btn btn-primary" onclick="TogglePin(02);">19</button>
                    <button type="button" class="btn btn-primary" onclick="TogglePin(02);">21</button>
                    <button type="button" class="btn btn-primary" onclick="TogglePin(02);">23</button>
                    <button type="button" class="btn btn-light" disabled>25</button>
                    <button type="button" class="btn btn-warning" onclick="TogglePin(02);">27</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">29</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">31</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">33</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">35</button>
                    <button type="button" class="btn btn-success" onclick="TogglePin(02);">37</button>
                    <button type="button" class="btn btn-light" disabled>39</button>
                </div>
            </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>© {{ now.year }}</p>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Page specific JavaScript -->
    <script src="{{ url_for('static', filename='js/cover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gpio.js') }}"></script>
</body>

</html>